h1{
    text-align: center;
}

.container{
    margin-top: 5%;
    justify-content: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

}

.item{
    border: 1px solid black;
    text-align: center;
    background-color: orange;
}

.last-column{
    background: pink;
}
.first-row{
    background: lightblue;
}